*{
    margin: 0;
    padding: 0;
}

header{
    height: 200px;
    background-color: red;
}
.siu1{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color: wheat;
}
.siu2{
    display: inline-block;
    width: 400px;
    height: 70px;
    background-color: yellow;
}
.siu3{
    width: 300px;
    height: 70px;
    background-color: blueviolet;
}
.siu4{
    margin: 10px 0 0 0;
    width: 700px;
    height: 70px;
    background-color: skyblue;
}