*{
    margin: 0;
    padding: 0;
}

header{
    height: 200px;
    background-color: red;
}
.siu1{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color: wheat;
}
.siu2{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color: blue;
}
.siu3{
    width: 300px;
    height: 70px;
    background-color: blueviolet;
}